In [5]:
from math import pi
radius= 3
area= pi*radius**2
area

28.274333882308138

In [8]:
#Q1
radius= float(input("enter the radius of the circle"))
area_of_the_circle= pi*radius**2
print ('area of the cirle:',area_of_the_circle)

enter the radius of the circle3
area of the cirle: 28.274333882308138

In [9]:
#Q2
name = input('Enter the Name')
roll_no = input('Enter the Roll No')
mark = input('Enter the mark')
print('Name:', name)
print('Roll No:', roll_no)
print('Marks:', mark)

Enter the NameABI
Enter the Roll No57
Enter the mark88
Name: ABI
Roll No: 57
Marks: 88

In [10]:
#Q3
numbers_str = input('Enter the numbers')
numbers = [int(x) for x in numbers_str.split(',')]
max_num = max(numbers)
print('Maximum number:', max_num)

Enter the numbers11,66,73,1
Maximum number: 73

In [11]:
#Q4
previous_num = 0

for x in range(1, 11):
    sum = previous_num + x
    print("Current Number", x, "Previous Number", previous_num, "Sum:", sum)
    previous_num = x

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

In [19]:
#Q5
numbers = input('Enter the numbers:')
numbers = [int(x) for x in numbers.split(',')]
divisible_by_5 = [num for num in numbers if num % 5 == 0]
print(' ,' .join(map(str, divisible_by_5)))

Enter the numbers:10,12,15,17,20
10 ,15 ,20

In [26]:
#Q6
x = int(input("enter a  positive number"))
if x>1:
  for i in range(2,x):
    if (x%i)==0:
      print(x, 'is not a prime number')
      break
  else:
    print(x,'is a prime number')

enter a  positive number9
9 is not a prime number

In [27]:
#Q7
numbers= input('Enter the numbers:')
numbers_=reversed(numbers.split(','))
print(','.join(numbers_))

Enter the numbers:11,12,13,14,15
15,14,13,12,11

In [28]:
#Q8
for x in range(1,5):
  print('*'*x)

*
**
***
****

In [29]:
#Q9
a=int(input('enter the first number:'))
b=int(input('enter the second number:'))
c=int(input('enter the third nunber:'))
if a>b and a>c:
  print(a,'is the bigger')
elif b>a and b >c:
  print(b, 'is the greatest')
else:
  print(c,'is the largest')

enter the first number:11
enter the second number12
enter the third nunber21
21 is the largest

In [30]:
#Q10
for x in range(1,5):
  print('*'*x)
for x in range(4,0,-1):
  print('*'*x)

*
**
***
****
****
***
**
*

**python practice problems part 2**

In [31]:
#Q1
text = input("Enter a string value: ")
char_counts = {}
for char in text:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

output = ", ".join([f"{char}={count}" for char, count in char_counts.items()])
print(output)

Enter a string value: apple
a=1, p=2, l=1, e=1

In [33]:
#Q2
a=int(input('enter the first number:'))
b=int(input('enter the second number:'))
c=int(input('enter the third nunber:'))
if a>b and a>c:
  print(a,'is the bigger')
elif b>a and b >c:
  print(b, 'is the greatest')
else:
  print(c,'is the largest')

enter the first number:5
enter the second number:55
enter the third nunber:555
555 is the largest

In [47]:
#Q3
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
def exponent(base, exp):
  return base**exp
result =  exponent(base, exp)
print('Exponent:',result)

Enter the base: 2
Enter the exponent: 3
Exponent: 8

In [46]:
#Q4
number = int(input("Enter a positive integer: "))
def sum_of_cubes(n):
  sum = 0
  for i in range(1, n):
    sum += i ** 3
  return sum
result = sum_of_cubes(number)
print('Answer:',result)

Enter a positive integer: 6
Answer: 225

In [49]:
#Q5
for x in range (1,11):
  if x%2==0 and x%5==0:
    print("FizzBuzz")
  elif x%2==0:
    print("Fizz")
  elif x%5==0:
    print("Buzz")
  else:
    print(x)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [50]:
#Q6
from collections import Counter

numbers = input("Enter the Numbers: ")
numbers_list = [int(x) for x in numbers.split(",")]
count = Counter(numbers_list)
most_frequent_item = count.most_common(1)[0][0]
print("Most frequent item:", most_frequent_item)

Enter the Numbers: 2,3,3,3,4,5,2,6,5
Most frequent item: 3

In [54]:
#Q7
numbers_str = input("Enter the numbers: ")
numbers_list = [int(x) for x in numbers_str.split(",")]
def sum_of_squares(numbers):
  sum_squares = 0
  for number in numbers:
    sum_squares += number ** 2
  return sum_squares
result = sum_of_squares(numbers_list)
print("Sum of squares:", result)

Enter the numbers: 1,2,3
Sum of squares: 14

In [55]:
#Q8
for x in range(1, 16):
  if x % 2 == 0:
    print(x, "- even")
  else:
    print(x, "- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [57]:
#Q9
def celsius_to_fahrenheit(c):
  "Converts Celsius to Fahrenheit."
  return (c * 9/5) + 32

def fahrenheit_to_celsius(f):
  "Converts Fahrenheit to Celsius."
  return (f - 32) * 5/9

temp_fahrenheit = float(input("Enter temperature in Fahrenheit: "))

temp_celsius = fahrenheit_to_celsius(temp_fahrenheit)

print("Temperature in Celsius:", (temp_celsius))

Enter temperature in Fahrenheit: 22
Temperature in Celsius: -5.555555555555555

In [58]:
#Q1O
def factorial(n):
  "Calculates the factorial of a non-negative integer."
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)
num = int(input("Enter a non-negative integer: "))
result = factorial(num)
print("Factorial of", num, "is", result)

Enter a non-negative integer: 5
Factorial of 5 is 120